{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de Cursos</h2>
<hr>
<table class="table table-bordered table-hover ">
    <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">DESCRIÇÃO</th>
          <th scope="col">CH</th>
        </tr>
  </thead>
  <tbady>
    <tr>
    {% for curso in cursos %}
        <tr>
            <td>{{curso.id}}</td>
            <td>{{curso.nome}}</td>
            <td>{{curso.descricao}}</td>
            <td>{{curso.ch}}</td>
        <tr>
    {% endfor %}
    </tr>
  </tbady>
</table>
{% endblock conteudo %}